.inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: #04444d;
    color: #fff;
  }
  
  .indicators {
    display: flex;
    justify-content: center;
  }
  
  .indicators > button {
    margin: 2rem 1rem;
    padding: 2px 10px;
    border: none;
  }
  
  .indicators > button.active {
    background-color: #08b85a;
    transform: scale(1.5, 2);
    color: #fff;
  }