.footer {
    color: #ccc;
    background-color: rgb(12, 50, 69);
    line-height: 2rem;
  }
  
  .footer-desktop {
    display: flex;
    justify-content: space-evenly;
  }
  
  .footer-desktop ul,
  .footer-mobile ul {
    list-style: none;
  }
  
  .footer-mobile ul {
    margin: 1rem 0;
  }
  
  .footer-mobile h3 {
    padding: 1.5rem 0;
  }
  
  .footer-mobile > div {
    border-bottom: 1px solid #555;
  }
  
  .footer-mobile li {
    color: gray;
  }
  
  .footer-desktop li > span {
    cursor: pointer;
  }
  
  .footer-desktop li > span:hover {
    /* padding-bottom: 2px; */
    border-bottom: 1px solid #08a85b;
    color: #08a85b;
  }
  
  .footer-desktop > div {
    padding: 2rem;
  }
  
  .footer-desktop h4 {
    color: white;
    margin: 2rem 0;
  }
  
  .footer-show-more {
    padding: 3px;
    border-bottom: 1px dotted white;
    cursor: pointer;
  }
  
  .footer-show-more:hover {
    color: #08a85b;
    border: none;
  }
  